.all {
  background-color: #00adb5;
  font-family: "Raleway", sans-serif;
  color: #222831;
}
.weatherContainer,
.forecastContainer {
  max-width: 800px;
  background-color: #ffffff;
  border: 1px solid #e3fdfd;
  border-radius: 8px;
  margin: 15px auto;
  padding: 40px 30px;
}
.searchEngine {
  margin: 0 auto 30px;
}
input.search-input {
  background: #cbf1f5;
  border: 1px solid #9aa2af;
}
input.btn {
  background: #71c9ce;
  border: #a6e3e9;
}
input.btn:hover {
  background: #08d9d6;
  border: #cbf1f5;
}
input.btn:focus {
  background: #f8ede3;
  color: #00adb5;
}
.cityName {
  font-size: 75px;
  font-weight: 600;
  margin: 10px auto;
}
.currentConditions {
  margin: 10px auto;
}
.dateInfo {
  color: #393e46;
  font-size: 18px;
  margin-bottom: 10px;
}

.weatherCommentary {
  font-size: 20px;
  margin-top: 0;
  padding-top: 0;
}

.weatherCommentary::first-letter {
  text-transform: capitalize;
}

.temperatureDisplay {
  margin: 0;
}
.temperatureNow {
  font-size: 80px;
  font-weight: 300;
}
.units {
  font-size: 20px;
}
.unitLink {
  color: #00adb5;
  text-decoration: none;
}
.unitLink:hover {
  color: #08d9d6;
}
/* .unitLink:active {
  color: #798777;
  background-color: #a2b29f;
  box-shadow: #798777;
} */

.realFeel {
  font-style: italic;
  color: #393e46;
  margin-bottom: 10px;
}
.highAndLowInfo {
  font-size: 20px;
  margin: 20px auto;
  font-weight: 500;
}
.minMaxTemp {
  font-size: 23px;
}
.otherConditions {
  font-weight: light;
}

/* .forecastContainer {
  text-align: center;
}
.dayName {
  font-size: 18px;
  margin: 5px auto;
}

.dayForecastImage {
  width: 70px;
  margin: 5px auto;
}
.forecastDay {
  font-size: 18px;
  margin-top: 10px;
} */
footer {
  text-align: center;
  color: #97c3c5;
  font-size: small;
  margin: 20px auto;
}
#footer-link {
  color: #bfffff;
  text-decoration: none;
}
#footer-link:hover {
  color: #0dfdf9;
}
